.folderContainer {
    display: inline-block; /* Da bi element bio blok, ali se ponašao kao inline element */
    cursor: pointer; /* Kursor postaje pokazivač kad se pređe preko elementa */
  }
  
  .folderContainer:hover {
    text-decoration: underline; /* Podvlačenje teksta kada se pređe preko elementa */
  }
  
  .heading {
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .heading:hover {
    color: blue;
  }
  

  .proba {
    position: relative;
    overflow: hidden;
  }
  
  .imageContainer {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .overlay {
    display: flex;
    flex-direction: column; /* Postavlja prikaz u kolonu */
    align-items: center; /* Centrira elemente horizontalno */
  }

  
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .imageContainer .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .imageContainer:hover .overlay {
    display: flex;
  }
  
  .deleteButton,
.showButton {
  display: block; /* Prikazuje dugmad u bloku */
  margin: 5px;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.showButton {
  margin-top: 5px; /* Dodaje razmak između dugmadi */
}

.overlay:hover .deleteButton,
.overlay:hover .showButton {
  display: block;
}

.deleteButton:hover,
.showButton:hover {
  background-color: black;
  color: white;
}
